{
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "git.autofetch": true,
  "files.eol": "\n",
  "editor.fontSize": 16,
  "todohighlight.isEnable": true,
  "todohighlight.isCaseSensitive": true,
  "editor.formatOnSave": true,
  "editor.wordWrap": "on",
  "editor.tabSize": 2,
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true
}
